* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-size: 40px;

@mixin font{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

@mixin display {
display: grid;
grid-template-columns: repeat (2, 1fr);
grid-template-rows: repeat (2, 1fr);
}

.prices {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
}

.prices__title {
@include font;
font-size: $font-size;
text-align: center;
margin-top: 240px;
margin-bottom: 127px;
}

.prices__cards {
@include display
}

.prices__cards-top,
.prices__cards-bottom {
grid-row: span 1;
}

.prices__card {
grid-column: span 1;
margin-right: 110px;
margin-left: 110px;
margin-bottom: 165px;
border: 3px solid #9FBFFF;
}

.prices__card-months,
.prices__card-classes,
.prices__card-price {
@include font;
font-size: $font-size;
text-align: center;
padding-bottom: 160px;
}

.prices__card-months {
    line-height: 53px;
    margin-top: 105px;
}

.prices__card-classes {
    line-height: 48px;
    margin-bottom: 45px;
}

.prices__card-price {
    line-height: 58px;
}
